
@{
    ViewBag.Title = "More";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>More</h2>

<h2>Translate</h2>
<h2>Weather</h2>

@Html.ActionLink("LoadPart1","Part1","Home");
@Html.ActionLink("LoadPart1", "Part2", "Home");
<div id="part1"> Part 2 </div>
<div id="part2"> Part 2 </div>

